[submodule "command_line_tools"]
	path = command_line_tools
	url = https://github.com/mskcc/cwl-commandlinetools.git
	branch = 0.3.0
[submodule "subworkflows"]
	path = subworkflows
	url = https://github.com/msk-access/cwl_subworkflows.git
